# Lab01 - Introdução ao Python

## Variáveis

In [1]:
# Atribuindo o valor 1 à variável teste
quantidade = 30

In [2]:
# Imprimindo o valor da variável
print(quantidade)

30

In [3]:
# Descobindo o tipo de uma variável
type(quantidade)

int

In [4]:
# Relizando operações simples
quantidade += 1
print(quantidade)

31

In [5]:
# Resto da divisão
print(quantidade % 3)

1

In [6]:
# Resultado de uma divisão de inteiros é float
print(40/3)

13.333333333333334

In [7]:
# Podemos converter para outros tipos
int(40/3)

13

In [8]:
# Ou então arrendondar
round(40/3,2)

13.33

In [9]:
# Declarando uma string
texto = 'Curso de Ciência de Dados'
print(texto)

Curso de Ciência de Dados

In [10]:
# Retornando a primeira letra
print(texto[0])

C

In [11]:
# Retornando até a posição 5
print(texto[:5])

Curso

## Arrays

In [12]:
# Usando split() e retornando uma lista de palavras
palavras = texto.split() 
print(palavras)

['Curso', 'de', 'Ciência', 'de', 'Dados']

In [13]:
# Tamanho de uma lista com len()
print(len(palavras))

5

In [14]:
# Mudando um elemento da lista 
palavras[0] = "Workshop"
print(palavras)

['Workshop', 'de', 'Ciência', 'de', 'Dados']

In [15]:
# Usando funções de lista
numeros = [ 234, 13, 53, 654, 23]
max(numeros)

654

In [16]:
# Navegando por uma lista
for num in numeros:
    print(num)

234
13
53
654
23

## Funções

In [17]:
# Definindo uma função simples
def imprimeLista(lista):
    i = 0
    for item in lista:
        i += 1
        print('{} : {}'.format(i,item))

In [18]:
# Adicionando um novo elemento na lista
numeros.append(3459)
imprimeLista(numeros)

1 : 234
2 : 13
3 : 53
4 : 654
5 : 23
6 : 3459

In [19]:
# Ordenando a lista
numeros.sort()
imprimeLista(numeros)

1 : 13
2 : 23
3 : 53
4 : 234
5 : 654
6 : 3459

## Tuplas

In [20]:
# Criando uma tupla
tupla = (1, 'João', 2340.00)
print(tupla)

(1, 'João', 2340.0)

In [21]:
# Uma tupla não pode ser alterada. O comando abaixo não funcionaria
# tupla[1] = 'João da Silva'

## Dicionários

In [22]:
# Criando um dicionário
dicionario = {"carro": 1204, "onibus": 45, "moto": 231}
print(dicionario)

{'carro': 1204, 'onibus': 45, 'moto': 231}

In [23]:
# Tamanho do dicionário
print(len(dicionario))

3

In [24]:
# Chaves do dicionário
print(dicionario.keys())

dict_keys(['carro', 'onibus', 'moto'])

In [25]:
# Alterando um valor do dicionario
dicionario['moto'] = 431
print(dicionario)

{'carro': 1204, 'onibus': 45, 'moto': 431}

## Arquivos

Vamos utilizar neste exemplo um arquivo chamado "SalesJan2009.csv" que foi baixado de http://samplecsvs.s3.amazonaws.com/SalesJan2009.csv

O arquivo Sales Jan 2009 contém algumas transações de vendas “higienizadas” durante o mês de janeiro.

In [26]:
# Abrindo o arquivo para leitura
arq1 = open("SalesJan2009.csv", "r")

In [27]:
# Lendo primeiros 100 caracteres
arq1.seek(0,0)
print(arq1.read(200))

Transaction_date,Product,Price,Payment_Type,Name,City,State,Country,Account_Created,Last_Login,Latitude,Longitude
1/2/09 6:17,Product1,1200,Mastercard,carolina,Basildon,England,United Kingdom,1/2/09 6

In [28]:
# Voltando ao início do arquivo para ler completamente, lendo e retornando as linhas do arquivo
arq1.seek(0,0)
linhas = arq1.read().split('\n')
print(len(linhas))

999

In [29]:
# Gravando os dados do arquivo em um array N:M (N linhas x M colunas) e imprimindo até a décima linha
tabela = []
for linha in linhas:
    tabela.append(linha.split(","))
print(tabela[:10])

[['Transaction_date', 'Product', 'Price', 'Payment_Type', 'Name', 'City', 'State', 'Country', 'Account_Created', 'Last_Login', 'Latitude', 'Longitude'], ['1/2/09 6:17', 'Product1', '1200', 'Mastercard', 'carolina', 'Basildon', 'England', 'United Kingdom', '1/2/09 6:00', '1/2/09 6:08', '51.5', '-1.1166667'], ['1/2/09 4:53', 'Product1', '1200', 'Visa', 'Betina', 'Parkville                   ', 'MO', 'United States', '1/2/09 4:42', '1/2/09 7:49', '39.195', '-94.68194'], ['1/2/09 13:08', 'Product1', '1200', 'Mastercard', 'Federica e Andrea', 'Astoria                     ', 'OR', 'United States', '1/1/09 16:21', '1/3/09 12:32', '46.18806', '-123.83'], ['1/3/09 14:44', 'Product1', '1200', 'Visa', 'Gouya', 'Echuca', 'Victoria', 'Australia', '9/25/05 21:13', '1/3/09 14:22', '-36.1333333', '144.75'], ['1/4/09 12:56', 'Product2', '3600', 'Visa', 'Gerd W ', 'Cahaba Heights              ', 'AL', 'United States', '11/15/08 15:47', '1/4/09 12:45', '33.52056', '-86.8025'], ['1/4/09 13:19', 'Product1', '1200', 'Visa', 'LAURENCE', 'Mickleton                   ', 'NJ', 'United States', '9/24/08 15:19', '1/4/09 13:04', '39.79', '-75.23806'], ['1/4/09 20:11', 'Product1', '1200', 'Mastercard', 'Fleur', 'Peoria                      ', 'IL', 'United States', '1/3/09 9:38', '1/4/09 19:45', '40.69361', '-89.58889'], ['1/2/09 20:09', 'Product1', '1200', 'Mastercard', 'adam', 'Martin                      ', 'TN', 'United States', '1/2/09 17:43', '1/4/09 20:01', '36.34333', '-88.85028'], ['1/4/09 13:17', 'Product1', '1200', 'Mastercard', 'Renee Elisabeth', 'Tel Aviv', 'Tel Aviv', 'Israel', '1/4/09 13:03', '1/4/09 22:10', '32.0666667', '34.7666667']]

In [30]:
# Gravando dados em um arquivo
arq2 = open("teste_gravacao.txt", "w")
arq2.write("Acrescentando conteúdo")
arq2.close()
arq2 = open("teste_gravacao.txt", "r")
print(arq2.read())

Acrescentando conteúdo

## Exercício 1

### Lendo um arquivo e gravando em outro

Leia o arquivo "SalesJan2009.csv" e salvar no arquivo "exercicio1.txt" todas as datas em que ocorreram vendas com cartão Mastercard

Faça o desenvovimento em um novo Jupyter Notebook com o seu nome: 01_Python_Fulano